<h3>Carros</h3>
<div class="paginado">
        {{#if hasPrevPage }}
            <a class="active" href='{{prevLink}}'>Anterior</a>
        {{/if}}
        {{#if hasNextPage }}
            <a class="avtive" href='{{nextLink}}'>Siguiente</a>
        {{/if}}
</div>
<div class="carts">
{{#each docs}}
    <div class="cart">
        <h4>{{this._id}}</h4>
        <a href="../carts/{{this._id}}" class="vercarro">Ver Carro</a>
    </div>
{{/each}}
</div>